.sign-up6{
    width: 500px;
    height: 444px;
    margin-top:200px;
}

.sign-up6 h3{
    font-size:20px;
    letter-spacing: -0.5px;
color: #8CA0EF;
margin-bottom:40px;
}

.sign-up6 h4{
    width: 384px;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: -0.45px;
color: #191919;
border: 1px solid #707070;
padding:20px 45px;
margin:20px auto;
}



.sign-up6__end{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 100px;
    margin:50px auto;
}



