<!DOCTYPE html>
<html lang="ke">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/mainlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUBATO</title>
    <link href="../../static/css/style.css" rel="stylesheet" />
</head>

<body class="main-page login-screen">
    <nav class="nav">
        <div class="nav__column">
            <ul class="nav-items">
                <img class="nav-items__titleimg" src="../../static/img/mainlogo.png">
                <li class="nav-items__title"> <a href="../../MainApp/templates/index.html">
                        RUBATO
                    </a></li>
                <li class="nav-items__item"><a href="#">MATCHING</a></li>
                <li class="nav-items__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav-items__item"><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
        <div class="search nav__column">
            <input class="search__input" type="text" placeholder="검색어를 입력하세요." />
            <span class="search__img">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
            </span>
        </div>
        <div class="nav__column">
            <div class="nav__alarms">
                <a href="../../LoginApp/templates/login.html" class="nav__alarms-alarm login-btn">
                    <span>Log in</span>
                </a>
                <a href="../../AccountApp/templates/sign-up.html" class="nav__alarms-alarm login-btn signup-btn">
                    <span>회원 가입</span>
                </a>
            </div>
        </div>
    </nav>



    <main>
        <div class="find-idpw">
            <h1>아이디/비밀번호 찾기</h1>
            <h3>계정을 잃어버리셨나요?<br>회원가입시 등록한 회원정보로 계정을 찾아보세요.</h3>
            <form class="find-idpw__form">
                <label for="#"><input type="radio" name="cite" id="ph-cite"><span>휴대폰 번호로 인증</span></label>
                <label for="#"><input type="radio" name="cite" id="em-cite"><span>이메일로 인증</span></label>
            </form>
            <form class="find-idpw__form2">
                <label for="findid-phnumber">
                <input type="text" name="phone-number" id="findid-phnumber" placeholder="연락처(-제외)" />
                <button>인증번호 전송</button>
            </label>
                <label for="findid-number">
                    <input type="text" name="cite-number" id="findid-number" placeholder="인증번호 입력" />
                    <span class="find-idpw__form2-Timeremaining">
                        (05:00)
                    </span></label>
            </form>
            <a href="../../Find_id/templates/find_id_truth.html" class="next-page">다음</a>
        </div>
    </main>



    <footer class="login-footer">
        <div class="footer-info">
            <img src="../../static/img/mainlogo.png" />
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
        </div>
        <div class="footer-info2">
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3fb5443896.js" crossorigin="anonymous"></script>
</body>

</html>