<!DOCTYPE html>
<html lang="ke">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/mainlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUBATO</title>
    <link href="../../static/css/style.css" rel="stylesheet" />
</head>

<body class="main-page login-screen">
    <nav class="nav">
        <div class="nav__column">
            <ul class="nav-items">
                <img class="nav-items__titleimg" src="../../static/img/mainlogo.png">
                <li class="nav-items__title"> <a href="../../MainApp/templates/index.html">
                        RUBATO
                    </a></li>
                <li class="nav-items__item"><a href="#">MATCHING</a></li>
                <li class="nav-items__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav-items__item"><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
        <div class="search nav__column">
            <input class="search__input" type="text" placeholder="검색어를 입력하세요." />
            <span class="search__img">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
            </span>
        </div>
        <div class="nav__column">
            <div class="nav__alarms">
                <a href="../../LoginApp/templates/login.html" class="nav__alarms-alarm login-btn">
                    <span>Log in</span>
                </a>
                <a href="../../AccountApp/templates/sign-up.html" class="nav__alarms-alarm login-btn signup-btn">
                    <span>회원 가입</span>
                </a>
            </div>
        </div>
    </nav>



    <main>
        <div class="find-idpw find-id__truth">
            <h1>아이디 찾기</h1>
            <h3>입력하신 정보와 일치하는 아이디는<br>다음과 같습니다.</h3>
            <div class="find-id__userid">
                <span>aapqk</span>
            </div>
            <div class="find-id__truth-btn">
                <a href="../../Find_id/templates/find_pw.html" class="next-page2"><span>비밀번호 찾기</span></a>
                <a href="../../LoginApp/templates/login.html" class="next-page"><span>로그인</span></a>
            </div>
        </div>
    </main>



    <footer class="login-footer">
        <div class="footer-info">
            <img src="../../static/img/mainlogo.png" />
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
        </div>
        <div class="footer-info2">
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3fb5443896.js" crossorigin="anonymous"></script>
</body>

</html>