.sign-up4 {
    width: 500px;
    height: 742px;
}

.sign-up4 h3 {
    font-size: 18px;
    letter-spacing: -0.45px;
    color: #191919;
    margin-bottom: 10px;
}

.sign-up4 img {
    width: 180px;
    height: 180px;
    margin: 15px;

}

.sign-up4__img {}