<!DOCTYPE html>
<html lang="ke">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/mainlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUBATO</title>
    <link href="../../static/css/style.css" rel="stylesheet" />

</head>

<body class="main-page">
    <nav class="nav">
        <div class="nav__column">
            <ul class="nav-items">
                <img class="nav-items__titleimg" src="../../static/img/mainlogo.png">
                <li class="nav-items__title"> <a href="./index.html">
                        RUBATO
                    </a></li>
                <li class="nav-items__item"><a href="#">MATCHING</a></li>
                <li class="nav-items__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav-items__item"><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
        <div class="search nav__column">
            <input class="search__input" type="text" placeholder="검색어를 입력하세요." />
            <span class="search__img">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
            </span>
        </div>
        <div class="nav__column">
            <div class="nav__alarms">
                <a href="../../LoginApp/templates/login.html" class="nav__alarms-alarm login-btn">
                    <span>Log in</span>
                </a>
                <a href="../../AccountApp/templates/sign-up.html" class="nav__alarms-alarm login-btn signup-btn">
                    <span>회원 가입</span>
                </a>
            </div>
        </div>
    </nav>



    <main>
        <div class="sign-up sign-up1">
            <h1>RUBATO 회원가입</h1>
            <div class="agree">
                <h3>약관동의</h3>
                <div class="agree1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea delectus tempore et
                        est
                        unde nihil autem
                        sint deleniti impedit reiciendis? Quod, cupiditate nam culpa debitis tenetur nobis. Error,
                        expedita
                        possimus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo illo esse corporis
                        nesciunt perferendis molestiae, tenetur perspiciatis vero adipisci aliquid culpa repudiandae
                        minus hic fugit similique dolorem nisi ducimus placeat!Lorem</p>
                </div>
                <input type="checkbox" value="" name="" id="agree-chk1" class="agree-nomal" />
                <label for="agree-chk1">[필수] 약관동의및 개인정보 수집,이용에 동의합니다. </label>
                <h3>이용정보</h3>
                <div class="agree2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea delectus tempore et
                        est
                        unde nihil autem
                        sint deleniti impedit reiciendis? Quod, cupiditate nam culpa debitis tenetur nobis. Error,
                        expedita
                        possimus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo illo esse corporis
                        nesciunt perferendis molestiae, tenetur perspiciatis vero adipisci aliquid culpa repudiandae
                        minus hic fugit similique dolorem nisi ducimus placeat!Lorem</p>
                </div>
                <input type="checkbox" value="" name="" id="agree-chk2" class="agree-nomal" />
                <label for="agree-chk2">[필수] 약관동의및 개인정보 수집,이용에 동의합니다. </label>
                <h3>개인정보 보호정책</h3>
                <div class="agree2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea delectus tempore et
                        est
                        unde nihil autem
                        sint deleniti impedit reiciendis? Quod, cupiditate nam culpa debitis tenetur nobis. Error,
                        expedita
                        possimus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo illo esse corporis
                        nesciunt perferendis molestiae, tenetur perspiciatis vero adipisci aliquid culpa repudiandae
                        minus hic fugit similique dolorem nisi ducimus placeat!Lorem</p>
                </div>
                <input type="checkbox" value="" name="" id="agree-chk3" class="agree-nomal" />
                <label for="agree-chk3">[필수] 약관동의및 개인정보 수집,이용에 동의합니다. </label>
            </div>
            <div class="agree-checking">
                <h4>위 사항들을 모두 동의합니다.</h4>
                <div class="agree-checking__box">
                    <input type="checkbox" value="" name="" id="agree-chk4" class="agree-nomal" />
                    <label for="agree-chk4">[선택] 마케팅 및 홍보 동의</label>
                </div>
                <div class="agree-checking__box">
                    <input type="checkbox" value="" name="" id="agree-chk_al" />
                    <label for="agree-chk_al">전체 동의</label>
                </div>

                <a href="../templates/sign-up2.html" class="next-page">다음</a>

            </div>
        </div>
    </main>



    <footer class="login-footer">
        <div class="footer-info">
            <img src="../../static/img/mainlogo.png" />
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
        </div>
        <div class="footer-info2">
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3fb5443896.js" crossorigin="anonymous"></script>
    <script src="./js/agree.js"></script>
</body>

</html>