<!DOCTYPE html>
<html lang="ke">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/mainlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUBATO</title>
    <link href="../../static/css/style.css" rel="stylesheet" />

</head>

<body class="main-page">
    <nav class="nav">
        <div class="nav__column">
            <ul class="nav-items">
                <img class="nav-items__titleimg" src="../../static/img/mainlogo.png">
                <li class="nav-items__title"> <a href="./index.html">
                        RUBATO
                    </a></li>
                <li class="nav-items__item"><a href="#">MATCHING</a></li>
                <li class="nav-items__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav-items__item"><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
        <div class="search nav__column">
            <input class="search__input" type="text" placeholder="검색어를 입력하세요." />
            <span class="search__img">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
            </span>
        </div>
        <div class="nav__column">
            <div class="nav__alarms">
                <a href="../../LoginApp/templates/login.html" class="nav__alarms-alarm login-btn">
                    <span>Log in</span>
                </a>
                <a href="../../AccountApp/templates/sign-up.html" class="nav__alarms-alarm login-btn signup-btn">
                    <span>회원 가입</span>
                </a>
            </div>
        </div>
    </nav>



    <main>
        <div class="sign-up sign-up3">
            <h1>RUBATO 회원가입</h1>
            <form class="sign-up3__signup-form">
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">아이디</span>
                    <span class="sign-up3__signup-form-false"></span>
                </div>
                <input type="text" name="user-id" id="user-id" placeholder="Aindong" />
                <button class="sign-up3__signup-form-idoverlapbtn">중복확인</button>
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-id">비밀번호</span>
                    <span class="sign-up3__signup-form-ex">(영문 대소문자와 숫자,특수문자 포함8-12자 이내)</span>
                </div>
                <input type="text" name="user-pw" id="user-pw" placeholder="asdfwqeasd123" />
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-id">비밀번호 확인</span>
                    <span class="sign-up3__signup-form-ex">(영문 대소문자와 숫자,특수문자 포함8-12자 이내)</span>
                </div>
                <input type="text" name="user-pw" id="user-pw" placeholder="asdfwqeasd123" />
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">닉네임</span>
                    <span class="sign-up3__signup-form-ex">(미입력 시 아이디 사용)</span>
                </div>
                <input type="text" name="user-nickname" id="user-nickname" placeholder="닉네임" />
                <button class="sign-up3__signup-form-nickoverlapbtn">중복확인</button>
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">이름</span>
                    <!-- <span class="sign-up3__signup-form-false">이미 등록된 아이디입니다.</span> -->
                </div>
                <input type="text" name="user-name" id="user-name" placeholder="이름" />
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">생년월일</span>
                    <!-- <span class="sign-up3__signup-form-false">이미 등록된 아이디입니다.</span> -->
                </div>
                <input type="text" name="user-years" id="user-years" placeholder="YYYY.MM.DD" />
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">이메일</span>
                    <!-- <span class="sign-up3__signup-form-false">이미 등록된 아이디입니다.</span> -->
                </div>
                <div class="user-eamiladdress">
                    <input type="text" name="user-email" id="user-emailname" placeholder="aaaaaa" />@
                    <input type="text" name="user-email" id="user-email" placeholder="aaaa.com" />
                </div>
                <div class="sign-up3__signup-form-info">
                    <span class="sign-up3__signup-form-name">연락처</span>
                    <span class="sign-up3__signup-form-ex">(-제외)</span>
                </div>
                <input type="text" name="user-phnumber" id="user-phnumber" placeholder="01012341234" />
                <div class="user-gender">
                    <span>성별</span>
                    <input type="radio" name="gender" id="user-gender__man">
                    <span>남자</span>
                    <input type="radio" name="gender" id="user-gender__girl">
                    <span>여자</span>
                </div>
            </form>
            <a href="../templates/sign-up4.html" class="next-page">다음</a>

        </div>
        </div>
    </main>



    <footer class="login-footer">
        <div class="footer-info">
            <img src="../../static/img/mainlogo.png" />
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
        </div>
        <div class="footer-info2">
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3fb5443896.js" crossorigin="anonymous"></script>
    <script src="./js/agree.js"></script>
</body>

</html>