<!DOCTYPE html>
<html lang="ke">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/mainlogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RUBATO</title>
    <link href="../../static/css/style.css" rel="stylesheet" />

</head>

<body class="main-page">
    <nav class="nav">
        <div class="nav__column">
            <ul class="nav-items">
                <img class="nav-items__titleimg" src="../../static/img/mainlogo.png">
                <li class="nav-items__title"> <a href="./index.html">
                        RUBATO
                    </a></li>
                <li class="nav-items__item"><a href="#">MATCHING</a></li>
                <li class="nav-items__item"><a href="#">PORTFOLIO</a></li>
                <li class="nav-items__item"><a href="#">COMMUNITY</a></li>
            </ul>
        </div>
        <div class="search nav__column">
            <input class="search__input" type="text" placeholder="검색어를 입력하세요." />
            <span class="search__img">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
            </span>
        </div>
        <div class="nav__column">
            <div class="nav__alarms">
                <a href="../../LoginApp/templates/login.html" class="nav__alarms-alarm login-btn">
                    <span>Log in</span>
                </a>
                <a href="../../AccountApp/templates/sign-up.html" class="nav__alarms-alarm login-btn signup-btn">
                    <span>회원 가입</span>
                </a>
            </div>
        </div>
    </nav>



    <main>
        <div class="sign-up sign-up5">
            <h1>RUBATO 회원가입</h1>
            <span class="sign-up5__genre">음악</span>
            <h3>취향에 맞는 장르를 선택해주세요.<br>당신과 어울리는 예술인을 추천해드립니다.</h3>
            <h4>(복수 선택 가능)</h4>
            <div class="sign-up5__img-section">
            <div class="sign-up5__img">
                <img src="../../static/img/artist.jpeg">
                <img src="../../static/img/artist.jpeg">
            </div>
            <div class="sign-up5__img">
                <img src="../../static/img/artist.jpeg">
                <img src="../../static/img/artist.jpeg">
            </div>
            <div class="sign-up5__img">
                <img src="../../static/img/artist.jpeg">
                <img src="../../static/img/artist.jpeg">
            </div>
            <div class="sign-up5__img sign-up5__img_bottom">
                <img src="../../static/img/artist.jpeg">
                <img src="../../static/img/artist.jpeg">
            </div>
        </div>
            <a href="../templates/sign-up6.html" class="next-page">다음</a>

        </div>
    </main>



    <footer class="login-footer">
        <div class="footer-info">
            <img src="../../static/img/mainlogo.png" />
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">개인정보취급방침</a>
        </div>
        <div class="footer-info2">
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
            <div class="footer_info2-square"></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/3fb5443896.js" crossorigin="anonymous"></script>
    <script src="./js/agree.js"></script>
</body>

</html>