.alarm-component-message {
    position: absolute;
    top: 80px;
    right: 610px;
    width: 280px;
    height: 330px;
    background-color: #FEFEFE;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.alarm-component-alarm {
    position: absolute;
    top: 80px;
    right: 310px;
    width: 280px;
    height: 330px;
    background-color: #FEFEFE;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.alarm-component__title {
    padding: 30px 20px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */

}

.alarm-component__alarm {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.alarm-component__alarm span {
    margin: 5px 0px;

}

.alarm-component__alarm-title img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: -15px;
    padding: 0px 20px;
}

.alarm-component__alarm-title {
    font-size: 16px;
    color: #191919;
}

.alarm-component__alarm-writing {
    font-size: 14px;
    opacity: 0.7;
    padding-left: 28px;
}

.alarm-component__gomenu {
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 79px;
    opacity: 0.7;
}

.alarm-component-alarm .alarm-component__gomenu {
    padding: 8px 105px;
}