.main-page {
    background-color: #F4F4F4;
    margin-right: 0px;

}

.header {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
}

.header__icon {
    position: absolute;
    top: 251px;
    left: 15%;
    color: white;
    opacity: 0.5;
}

.header-img {
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: 500px;
}



.main-screen {
    color: #FFFFFF;
    position: absolute;
    top: 185px;
    left: 18%;
    font-family: normal normal normal 30px/37px Spoqa Han Sans Neo;
    font-size: 30px;
    font-weight: 330;
}


.main-screen h1 {
    margin-top: 21px;
    font-size: 45px;
    color: #8CA0EF;
    font-weight: 400;
}

.user-information {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 280px;
    height: 270px;
    background-color: #fefefe;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    box-sizing: border-box;
}

.user-information__header img {
    width: 70px;
    height: 70px;
    border-radius: 10px;

}

.user-information__header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-information__header-user {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-information__header-user__name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.user-information__header-user__info {
    font-size: 14px;
    opacity: 0.8;
}

.user-information__setting {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #191919;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-info {
    margin-bottom: 10px;
}

.user-information__setting2 {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #191919;
}

.setting {
    margin-bottom: 10px;
}

.alt-headers {
    position: absolute;
    bottom: 30px;
    left: 839px;
    display: flex;

}

.alt-header {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFFB3;
    margin-right: 16px;
}

.alt-header-pick {
    width: 40px;
    height: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-right: 16px;
}



.main-contents {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.main-contents__content img {
    width: 206px;
    height: 206px;
    margin-bottom: 40px;
}

.main-contents__content {
    width: 384px;
    height: 336px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.main-contents__content span {
    font-family: normal normal 300 28px/35px Spoqa Han Sans Neo;
    font-size: 28px;
    font-weight: 300;
    color: #444444;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.company-info__title {
    font-size: 45px;
    font-family: Spoqa Han Sans Neo, Regular;
    margin-bottom: 90px;
}

.company-info__column {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.company-info img {
    width: 792px;
    height: 518px;
}

.company-info__column-detail {
    margin-right: 83px;
}

.company-info__column-detail h2 {
    font-size: 28px;
    color: #191919;
    margin-bottom: 12px;
}

.company-info__column-detail h5 {
    font-size: 18px;
    color: #505050;
    margin-bottom: 30px;
}

.company-info__column-detail a {
    width: 150px;
    height: 30px;
    background-color: #8CA0EF;
    border-radius: 20px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 2px 41px;
    font-weight: 320;
}

.company-info__column2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 100px;
}

.company-info__column-detail2 {
    margin-left: 83px;
}

.company-info__column-detail2 h2 {
    font-size: 28px;
    color: #191919;
    margin-bottom: 12px;
}

.company-info__column-detail2 h5 {
    font-size: 18px;
    color: #505050;
    margin-bottom: 30px;
}

.company-info__column-detail2 a {
    width: 150px;
    height: 30px;
    border: 1px solid #8CA0EF;
    border-radius: 20px;
    font-size: 18px;
    color: #8CA0EF;
    padding: 2px 41px;
    font-weight: 320;
}

#info-img {
    width: 396px;
    height: 590px;
}