.sign-up3 {
    width: 500px;
    height: 1066px;
    margin: 60px auto;
}

.sign-up3__signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 58px;
}

.sign-up3__signup-form span {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.sign-up3__signup-form-info {
    text-align: left;
}

.sign-up3__signup-form-name {
    font-size: 16px;

}

.sign-up3__signup-form-false {
    letter-spacing: -0.3px;
    color: #CF1F1F;
    margin-left: 10px;
    font-size: 12px;
}

.sign-up3__signup-form-ex {
    letter-spacing: -0.3px;
    color: #707070;
    margin-left: 3px;
    font-size: 12px;
}

.sign-up3__signup-form input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 384px;
    height: 46px;
    font-size: 16px;
    margin-bottom: 32px;
}

.sign-up3__signup-form input::placeholder {
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #DBDBDB;
}

.sign-up3__signup-form-idoverlapbtn {
    position: absolute;
    right: 60px;
    bottom: 810px;
    width: 98px;
    height: 30px;
    background: #8CA0EF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.sign-up3__signup-form-nickoverlapbtn {
    position: absolute;
    right: 60px;
    bottom: 520px;
    width: 98px;
    height: 30px;
    background: #8CA0EF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.user-eamiladdress {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

#user-emailname {
    width: 217px;
    height: 46px;
    margin-bottom: 0;
    margin-right: 10px;
}

#user-email {
    width: 131px;
    height: 46px;
    margin-bottom: 0;
    margin-left: 20px;

}

.user-gender {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.user-gender span {
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #191919;
    margin-bottom: 15px;
    padding-left: 8px;
}

.user-gender input {
    width: 24px;
    height: 24px;
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 73px;
}